*{
    margin: 0;
    padding: 0;
    position: relative;
}
a{
    text-decoration: none;
    color: initial;
}
body{
    background-color: #D3D9C8;
}
.header{
    background-color: #729599;
    height: 80px;
    line-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF9F1;
    margin-left: 20px;
}
.option{
    
    font-size: 20px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF9F1;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.midbar{
    background-color: #BFB3A8;
    width: 280px;
    height: calc(100vh - 80px);
    position: fixed;
    padding-top: 50px;
    color: white;
    margin-top: 80px;
}
.midbar .sub{
    margin-top: 10px;
    margin-left: 10px;
}
.color_lump1{
    background-color: #ABA39C;
    width: 280px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    margin-left: 0;
    cursor: pointer;
}
.contents{
    background-color: #F3F3F3;
    width: calc(100% - 280px);
    height: calc(100vh - 80px);
    margin-left: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.contents .title{
    width: 100%;
    height: 20%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contents .title h1,.contents .title p{
    margin-left: 30px;
    margin-bottom: 10px;
}
.contents .title h2{
    margin-left: 30px;
    display: flex;
}
.contents .title h2 span{
    font-weight: normal;
    font-size: 20px;
    background-color: #455C7B;
    color: #FFFBFB;
    padding: 5px 8px;
    border-radius: 25px;
    margin-right: 5px;
}
.contents .title .music{
    background-color: #91AA9D;
}
.contents .title .mood{
    background-color: #AC6C82;
}
.contents .title .other{
    background-color: #b3a99c;
}
.contents .content{
    width: 100%;
    height: 45%;
    background-color: #f3f3f3;
    overflow-y: scroll;
}
.contents .content .con_detail{
    padding: 0px 30px;
}
.contents .comment{
    width: 100%;
    height: 35%;
    background-color: #E6E6E6;
    overflow-y: scroll;
}
/*
.subjects{
    background-color: #F3F3F3;
    width: calc(100% - 280px);
    height: calc(100vh - 80px);
    margin-left: auto;
    
    margin-top: 80px;
}
.subjects .title{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 30px;
}
.subjects .title h1,.subjects .title p,.subjects .title h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.subjects h1{
    font-size: 36px;
}
.subjects h2{
    display: flex;
}
.subjects h2 span{
    font-weight: normal;
    font-size: 20px;
    background-color: #455C7B;
    color: #FFFBFB;
    padding: 5px 8px;
    border-radius: 25px;
    margin-right: 5px;
}
.subjects .music{
    background-color: #91AA9D;
}
.subjects .mood{
    background-color: #AC6C82;
}
.subjects .other{
    background-color: #b3a99c;
}
.subjects .content{
    min-height: 45%;
    padding: 0 30px;
    padding-bottom: 40px;

}
.subjects .comment{
    background-color: #E6E6E6;
    width: 100%;
    min-height: 30%;
}
*/
