.hashtag{
    width: 116px;
    height: 33px;
    left: 473px;
    top: 244px;

    background: #455C7B;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    line-height: 33px;
}