.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF9F1;
    margin-left: 30px;
}
.title{
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left: 30px;
}
.option{
    font-size: 14px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF9F1;
}
.header_detail{
    width: 367px;
    height: 24px;
    left: 471px;
    top: 206px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 15px;

    color: #333333;
}

.tag_text{
    font-size: 20px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF9F1;
}

.commenttitle_text{
    font-size: 24px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333;
    margin-left: 30px;
}

.comment_text{
    font-size: 20px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333;
    margin-left: 30px;
    margin-top: 10px;
}

.comment_date{
    font-size: 14px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333;
    margin-left: 30px;
    margin-top: 10px;
}

.comment{
    font-size: 20px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:#8E8E8E;
    margin-left: 50px;
}